doctype html
html(lang="zh-CN")
  meta(charset="utf-8")
  title!= title
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  script(type='text/javascript' src='static/js/jquery.min.js')
  script(type='text/javascript' src="static/js/index.js")

body
